.board, .info-board{
    width: 350px;
    height: 350px;
}

.info-board{
    margin-left: 1.5rem;
}

@media only screen and (max-width: 768px) {
    .app-mobile {
        .board, .info-board{
            width: 290px;
            height: 290px;
        }
    }
};