.reset-button {
    p {
        font-size: 15px;
        color: $light-grey;
        margin: .2rem 1rem 0;
        text-align: center;
    }
    button.btn-close{
        background-color: $light-grey;
        width: 1px;
        height: 1px;
        border-radius: 50px;
        padding: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .app-mobile {
        .reset-button{
            width: 290px;
            margin: 2rem 0;
            button.btn-close {
                padding: 20px;
            }
        }
    }
};