.tile {
    button {
        background: 
        linear-gradient(to top, $dark-orange, $light-orange) padding-box,
        linear-gradient(to top, $dark-red, $light-red) border-box;
        border: 3px solid transparent;
        border-radius: $border-radius;
        color: #FFF;
        width: 70px;
        height: 70px;
        font-size: 30px;
        font-weight: 700;
        text-shadow: -2px -2px 5px rgba(198,140,86,255);
        &:hover, &:active, &:focus, &.btn-warning:disabled, &.btn-warning.disabled {
            color: #FFF;
        }
        &.wrong {
            background: linear-gradient(to top, $dark-red, $light-red) padding-box;
            text-shadow: -2px -2px 5px rgba(156,27,44,255);
        }
        &.correct {
            background: linear-gradient(to top, $dark-green, $light-green) padding-box;
            text-shadow: -2px -2px 5px rgba(120,160,85,255);
        }
        &.wrong, &.correct {
            &:hover{
                border: 3px solid transparent;
            }
        }
        &.btn-warning:disabled, &.btn-warning.disabled {
            border: none;
        }
        &.btn:disabled, &.btn.disabled {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 768px) {
    .app-mobile {
        .tile{
            button {
                width: 60px;
                height: 60px;
            }
        }
    }
};