.tile {
    padding: 1rem;
    button {
        background: 
        linear-gradient(to top, $dark-orange, $light-orange) padding-box,
        linear-gradient(to top, $dark-red, $light-red) border-box;
        border: 3px solid transparent;
        border-radius: $border-radius;
        color: #FFF;
        width: 60px;
        height: 60px;
        font-size: 30px;
        font-weight: 700;
        text-shadow: -2px -2px 5px rgba(198,140,86,255);
        &:hover{
            color: #FFF;
        }
    }
}