.word-box {
    padding: 1rem;
    height: 70px;
    background-color: #FFF;
    border: 3px solid $grey;
    margin-bottom: .5rem;
    h4 {
        font-size: 30px;
        font-weight: 700;
        color: $grey;
        letter-spacing: 10px;
        margin: 0;
        &.wrong {
            color: $font-red;
        }
        &.correct {
            color: $font-green;
        }
    }
    p {
        font-size: 15px;
        letter-spacing: normal;
        font-weight: 300;
        margin: 0;
        &.wrong {
            color: $font-pink;
        }
        &.correct {
            color: $font-light-green;
        }
    }
}

@media only screen and (max-width: 768px) {
    .app-mobile {
        .word-box{
            width: 275px;
            margin: 2rem 0;
        }
    }
};
