.word-box {
    background-color: #FFF;
    border: 3px solid $grey;
    height: 70px;
    margin-bottom: .5rem;
    font-size: 30px;
    font-weight: 700;
    color: $grey;
    letter-spacing: 10px;
    padding: 1rem;
    &.wrong {
        color: $font-red;
    }
    &.correct {
        color: $font-green;
    }
    p {
        font-size: 15px;
        letter-spacing: normal;
        font-weight: 300;
        &.wrong {
            color: $font-pink;
        }
        &.correct {
            color: $font-light-green;
        }
    }
}